body{
    margin: 0;
    padding: 0;
}

.main-formulario{
    width: 100vw;
    height: 100vh;
    background-color: rgba(165, 161, 161, 0.814);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    margin: 60px;
    background-color: rgba(255, 255, 255, 0.779);   
}

.card > h1{
    color: blueviolet;
    text-align: center;
}

.card > p{
    color: rgb(90, 45, 132);
    text-align: center;
}

.grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 5px;
}

.campo-digitação{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0px 5px;
    
}

.campo-digitação-email{
    margin-left: 110px;
}

.campo-digitação-email > input{
    display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
     margin-bottom: 20px;
}

.campo-digitação > input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid rgba(127, 127, 127, 0.351);
    padding: 5px;
    outline-color: rgb(128, 124, 142) ;
}

.campo-digitação-email > input{
    border-radius: 5px;
    border: 2px solid rgba(127, 127, 127, 0.351);
    padding: 5px;
    outline-color: rgba(91, 49, 228, 0.566) ;
}

.campo-digitação > input:hover{
    background-color: rgba(101, 65, 199, 0.434);
}

.campo-digitação-email > input:hover{
    background-color: rgba(101, 65, 199, 0.434);
}


.tecnologia-usada > label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 110px;
}

#senior{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 10px;  
    margin-left: 110px;
}

#selecione{
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-bottom: 10px;
}

.tecnologia-ultiliada{
    margin-left: 110px
}

.suas-experiencias{
    margin-left: 110px;
}





































